/* Dark Mode Styles (now default) */
body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Search Bar */
#searchBar {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    background-color: #333333;
    color: white;
}

/* Main Content */
main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 15px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

/* Content Grid Layout */
.content-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    padding: 20px;
}

/* Poster Styles */
.poster {
    width: 150px;
    height: 225px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.poster:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Button Styling */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
    color: white;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

.close {
    color: red;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Play Button */
#playButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#playButton:hover {
    background-color: #555;
    color: white;
}
